---
---

<section class="mb-8">
	<div class="mb-6">
		<img src="https://raw.githubusercontent.com/wyuting0/wyuting0.github.io/main/public/images/yuting.png" alt="Yuting" class="rounded-full mx-auto w-40 h-40" />
		<h1
			class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
		>
			<span
				class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
			>
        Hi, I'm Yuting
			</span>
		</h1>
	</div>
	<div>
		<p class="mb-5">
			I'm a high-school student in Singapore.
			In my free time, I like to code, read books, and listen to music, just to name a few.
			I speak English, Chinese and French.
			Right now, I'm putting in the effort to enhance my coding skills and explore some creative design techniques.
		</p>
		<p class="mb-5">
			If you'd like to keep up with my life, you can check out my blog <a href="https://yuting.is-a.dev/blog/">here</a>.
			I make a post there monthly (or at least try to).
			If you know me personally, do <a href="https://www.instagram.com/yuting10101/">send me a follow request on Instagram</a>.
			
		</p>

	</div>
</section>
