---
---

<section class="mb-8">
	<div class="mb-6">
		<img src="https://raw.githubusercontent.com/wyuting0/wyuting0.github.io/main/public/images/yuting.png" alt="Yuting" class="rounded-full mx-auto w-40 h-40" />
		<h1
			class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
		>
			<span
				class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
			>
        Hi, I'm Yuting
			</span>
		</h1>
	</div>
	<div>
		<p class="mb-5">
			I'm a high school student at <a href="https://www.hci.edu.sg/">Hwa Chong Institution</a> in Singapore.
			In my free time, I like to code, read books, and listen to music, just to list a few.
			I speak English, Chinese and a little bit of French.
			Right now, I'm putting in the effort to enhance my coding skills and explore some creative design techniques.
		</p>
		<p class="mb-5">
			If you'd like to keep up with my life, you can check out my blog <a href="https://yuting.is-a.dev/blog/">here</a>.
			I make a post there every once in a while whenever I feel like it.
			Feel free to explore <a href="https://yuting.is-a.dev/projects/">the projects page</a> to view my projects, although there are only a few at the moment.
			If you're interested, take a look at the GitHub repository for this website <a href="https://github.com/wyuting0/wyuting0.github.io">here</a>.
		</p>
		<p class="text-center italic text-sm">
			idk what else to add
		</p>
	</div>
</section>
