---
---

<section class="mb-8">
	<div class="mb-6">
		<img src="https://avatars.githubusercontent.com/u/158145233?s=400&u=b5f091ad0cc3807c29737e28f93de846b3c3c664&v=4" alt="Yuting" class="rounded-full mx-auto w-40 h-40" />
		<h1
			class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
		>
			<span
				class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
			>
        Hi, I'm Yuting
			</span>
		</h1>
	</div>
	<div>
		<p class="mb-5 text-center">
			Hi, I'm Yuting, a 13-year-old student in Singapore who's always juggling between school stuff and my hobbies. 
			In my free time, I like to fiddle with code, read books, and write stories. 
			Right now, I'm putting in the effort to enhance my coding skills and explore some creative design techniques.
			I'm also learning C and Java.
		</p>
		<p class="text-center mb-5">
			Gaming is another interest of mine, though it's more of a treat than a regular thing.
			I'm mostly into Minecraft, but I do enjoy the occasional Roblox and COD.
			As a PC gamer, I appreciate exploring various gaming experiences and I hope to be able to try VR at some point.
			I'm also a big advocate of piracy and use µTorrent for my endeavours.
		</p>
		<p class="text-center italic text-sm">uh idk what else to add</p>
	</div>
</section>
