---
---

<section class="mb-8">
	<div class="mb-6">
		<img src="public/images/yuting.png" alt="Yuting" class="rounded-full mx-auto w-40 h-40" />
		<h1
			class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
		>
			<span
				class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
			>
        Hi, I'm Yuting
			</span>
		</h1>
	</div>
	<div>
		<p class="mb-5 text-center">
			Hi, I'm Yuting, a 13-year-old student in Singapore who's always juggling between school stuff and my hobbies. 
			In my free time, I like to fiddle with code, read books, and write stories. 
			Right now, I'm putting in the effort to enhance my coding skills and explore some creative design techniques.
		</p>
		<p class="text-center mb-5">
			As a self-taught front-end web developer, 
			I like creating attractive and easy-to-use websites using HTML, CSS, and JavaScript. 
			Through my own learning journey, I've become relatively proficient in these technologies. 
			I'm currently exploring web frameworks like React and Astro to see which one best suits my needs and preferences.
		</p>
		<p class="text-center italic text-sm">uh idk what else to add</p>
	</div>
</section>
