---
---

<section class="mb-8">
	<div class="mb-6">
		<img src="https://raw.githubusercontent.com/wyuting0/wyuting0.github.io/main/public/images/yuting.png" alt="Yuting" class="rounded-full mx-auto w-40 h-40" />
		<h1
			class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
		>
			<span
				class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
			>
        Hi, I'm Yuting
			</span>
		</h1>
	</div>
	<div>
		<p class="mb-5 text-center">
			Hi, I'm Yuting, an ordinary high-school student in Singapore who's always juggling between school stuff and my hobbies. 
			In my free time, I like to code, read books, and write stories. 
			Right now, I'm putting in the effort to enhance my coding skills and explore some creative design techniques.
		</p>
		<p class="text-center mb-5">
			I also love to blog!
			While I don't anticipate a huge readership, I do hope that those who stumble upon my blog find some enjoyment in the stories I write.
			It's a fulfilling creative outlet for me, and I appreciate the thought that a small audience might connect with my writing.
			I hope you can find a moment to take a look at my posts.
		</p>
		<p class="text-center italic text-sm">uh idk what else to add</p>
	</div>
</section>
