<div class="callout-card">
  <div class="callout-container">
    <div class="callout">
      <span class="callout-icon">🙊</span>
      <span class="callout-text">Ape shall never kill ape.</span>
    </div>
  </div>
</div>

<style>
  .callout-card {
    border: 1px solid var(--border);
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  .callout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 4rem;
  }

  .callout {
    background-color: var(--astro-code-background);
    border: 1px solid var(--code-bg);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    min-width: 13rem;
  }

  .callout-icon {
    padding-right: 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    display: flex;
    align-items: center;
  }

  .callout-text {
    color: var(--text-primary);
    line-height: 1.5;
  }
</style>
